##innodb master config##################################################################
#####################################################################
[mysqld]
#**********************Server**************************
#******server start related
user = mysql
port = 3306
datadir = /data/mysql
socket = /data/mysql/mysql.sock
pid-file = /data/mysql/mysql.pid
server-id = 1
sync_binlog=1
#log_bin = /data/mysql/log/mysql-bin.log
expire_logs_days = 30
character-set-server = utf8mb4
#******features
#default-storage-engine = InnoDB
#******thread&amp;connection
max_connections = 1024
max_connect_errors = 1024
# Try number of CPU's*2 for thread_concurrency
thread_concurrency = 8
thread_cache_size = 256
#******network
skip-name-resolve
max_allowed_packet = 1M
#******buffer&amp;cache
table_open_cache = 4096
sort_buffer_size = 256K
join_buffer_size = 256K
#*****query cache
query_cache_limit = 4M
query_cache_size = 4M
query_cache_type = 1
#******temptable
tmp_table_size = 64M
max_heap_table_size = 64M

#**********************MyISAM**************************
#******buffer&amp;cache
key_buffer_size = 8M
read_buffer_size = 1M
read_rnd_buffer_size = 256K

#**********************Innodb**************************
innodb_log_file_size = 256M
innodb_log_files_in_group = 2
innodb_status_file = 1

#******buffer&amp;cache
innodb_additional_mem_pool_size = 32M
innodb_buffer_pool_size = 5G
innodb_data_file_path = ibdata1:1G:autoextend
innodb_file_per_table = 1

#******buffer&amp;cache
innodb_additional_mem_pool_size = 32M
innodb_buffer_pool_size = 5G
innodb_data_file_path = ibdata1:1G:autoextend
innodb_file_per_table = 1
#******recovery&amp;related
innodb_force_recovery = 0
#innodb_table_locks
innodb_thread_concurrency = 8
#******IO
innodb_flush_log_at_trx_commit = 2
#******recovery&amp;related
innodb_force_recovery = 0
#innodb_table_locks
innodb_thread_concurrency = 8
#******IO
innodb_flush_log_at_trx_commit = 2

#**********************Logs****************************
#*****slow log
slow_query_log=1
long_query_time=1
slow_query_log_file=/data/mysql/log/slow.log

[mysqld_safe]
#*****error log
log-error = /var/log/mysqld.log
pid-file = /data/mysql/mysql.pid
open-files-limit = 40960

[client]
port = 3306
socket = /data/mysql/mysql.sock                                                              45,1          36%
