[client]
port = 3306
socket = /var/lib/mysql/mysql.sock 

[mysqld]
datadir=/var/lib/mysql
socket=/var/lib/mysql/mysql.sock
user = mysql
port = 3306
pid-file = /var/lib/mysql/mysql.pid
#配置此项可以追踪sql执行记录
log=存放日志的路径/mysql-sql.log
##以下为开启主从的必要配置
server-id = 1
binlog-do-db=db_nameA #指定对db_nameA记录二进制日志  
binlog-ignore-db=db_namB #指定不对db_namB记录二进制日志
log_bin = /var/lib/mysql/log/mysql-bin.log
expire_logs_days = 30
character-set-server = utf8mb4
default-storage-engine = InnoDB
#thread connection
max_connections = 1024
max_connect_errors = 1024
# Try number of CPU's*2 for thread_concurrency
thread_concurrency = 8
thread_cache_size = 256
#*network
skip-name-resolve
max_allowed_packet = 1M
#buffer&amp;cache
table_open_cache = 4096
sort_buffer_size = 256K
join_buffer_size = 256K
#query cache
query_cache_limit = 4M
query_cache_size = 4M
query_cache_type = 1
#temptable
tmp_table_size = 64M
max_heap_table_size = 64M

#MyISAM
key_buffer_size = 8M
read_buffer_size = 1M
read_rnd_buffer_size = 256K

#Innodb
innodb_log_file_size = 256M
innodb_log_files_in_group = 2
innodb_status_file = 1

innodb_additional_mem_pool_size = 32M
innodb_buffer_pool_size = 5G
innodb_data_file_path = ibdata1:1G:autoextend
innodb_file_per_table = 1

innodb_additional_mem_pool_size = 32M
innodb_buffer_pool_size = 5G
innodb_data_file_path = ibdata1:1G:autoextend
innodb_file_per_table = 1

innodb_force_recovery = 0
#innodb_table_locks
innodb_thread_concurrency = 8

innodb_flush_log_at_trx_commit = 2

innodb_force_recovery = 0
#innodb_table_locks
innodb_thread_concurrency = 8

innodb_flush_log_at_trx_commit = 2

#slow log
slow_query_log=1
long_query_time=1
slow_query_log_file=/var/lib/mysql/log/slow.log

[mysqld_safe]
#error log
log-error = /var/log/mysqld.log
pid-file = /var/lib/mysql/mysql.pid
open-files-limit = 40960

[mysqldump]
quick
max_allowed_packet = 48M

[mysql]
no-auto-rehash
# Remove the next comment character if you are not familiar with SQL
#safe-updates
default-character-set=utf8

[isamchk]
key_buffer = 128M
sort_buffer_size = 128M
read_buffer = 2M
write_buffer = 2M

[myisamchk]
key_buffer = 128M
sort_buffer_size = 128M
read_buffer = 2M
write_buffer = 2M
